<footer></footer>
<script src="../assets/js/jquery.min.js"></script>


<script src="../assets/js/popper.min.js"></script>
<script src="../assets/js/bootstrap.js"></script>
<!--<script src="../assets/js/defaults-ar_AR.min.js"></script>-->

<script src="../assets/js/bootstrap.min.js"></script>
<!--<script src="../assets/js/defaults-en_US.min.js"></script>-->

<script src="../assets/js/gijgo.min.js"></script>
<!--<script src="../assets/js/jquery-ui.js"></script>-->

<script>
    $('#datepickerFrom').datepicker({
        uiLibrary: 'bootstrap4'
    });

    $(document).ready(function () {
        $('#datepickerTo').datepicker({
            uiLibrary: 'bootstrap4'
        });
    });
</script>


</body>
</html>